hotkey-overlay {
    skip-at-startup
}

environment {
    DYKWABI_RUN_GREETER "1"
}

spawn-at-startup "sh" "-c" "qs -p _DYKWABI_PATH_; niri msg action quit --skip-confirmation"

debug {
  keep-max-bpc-unchanged
}

gestures {
   hot-corners {
     off
   }
}

layout {
  background-color "#000000"
}